.odd {

    background-color: rgb(131, 32, 98);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.two {
    color: rgb(0,0,255);
    font-size: 36px;
}

.three{
font-size: 24px;
}

.four{
    background-color: rgb(72, 185, 72);
    font-size: 24px;
    font: bold;
    }