body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  size: 16px;

}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;

}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;  
  text-align: center;
}